.Part {
    width: 100%;
    height: 100%;
    
    display: grid;

    justify-content: center;
    align-content: center;

    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    grid-gap: 39.7px;
}

.leftSide, .rightSide {
    position: relative;
    /* background-color: antiquewhite; */
    height: 52%;
    align-self: center;
}

.leftSide {
    display: flex;
    flex-direction: row;
    /* color: black; */
}

.leftSide .left, .leftSide .right {
    position: relative;
    width: 50%;
    height: 50%;

    display: flex;

    flex-direction: column;
    align-items: right;
}

.leftSide .left {
    height: 100%;
    padding-right: 19.85px;
    text-align: right;
}

.leftSide .left .projectName{
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: xxx-large;
    line-height: normal;
}

.leftSide .left .spans {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.leftSide .left .spans span {
    font-weight: bold;
}


.leftSide .right {
    padding-left: 19.85px;
    font-size: small;
}

.rightSide {
    display: grid;
    
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 39.7px;
}

.rightSide .images {
    overflow: scroll;

    display: grid;
    
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 39.7px;
    width: max-content;
    height: fit-content;
}

.rightSide .images .imageContainer {
    position: relative;

    max-width: 264px;
    max-height: 210px;

    cursor: pointer;
}

.rightSide .images .imageContainer .blackVeil {
    position: absolute;
    top: 0;
    left: 0;

    background: black;
    opacity: 0.15;

    width: 100%;
    height: 100%;
}

.rightSide .images .imageContainer .text {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;

    padding-right: 10px;
    padding-bottom: 5px;

    font-weight: bold;
    z-index: 9999;

    color: white;
}

.rightSide .filters {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rightSide .filters .filter-container {
    position: relative;
}

.rightSide .filters h2{
    margin-top: 0;
}

.rightSide .filters .filter-container .filter {
    width: fit-content;
    padding: 2px 8px;
    border: 1px black solid;
    text-transform: capitalize;
    cursor: pointer;
}

.rightSide .filters .filter-container .filter.selected {
    padding: 3px 10px;
    border: 2px black solid;
    font-weight: bold;
}

.rightSide .filters .filter-container .filter:hover {
    opacity: 0.5;
}